# Archivos y directorios generados por Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
*.env

# Archivos y directorios generados por herramientas de desarrollo
dist/
build/
coverage/

# Archivos y directorios específicos para IDEs y editores de código
.vscode/

# Otros archivos y directorios generados
.DS_Store
Thumbs.db
